.bg-txt-con{
    background-color:rgb(163, 163, 163);
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    font-weight: bold;
}
.main-con{
    width: 100%;
    padding: 30px 40px;
    display: flex;
    flex-direction: column;
}
.time-con{
    border: 2px solid rgb(145, 144, 144);
    height: fit-content;
    width: 90%;
    padding: 20px;
}
.time-text{
    font-weight: bold;
    padding-bottom: 15px;
}
.input-bg{
    width: 70px;
    outline: none;
    border: none;
    height: 30px;
    background-color:rgb(136, 135, 135);
    text-align: center;
}
.btn-con{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.table thead {
    background-color: #6F52ED;
    ;
    text-align: center;
}

.addBtn {
    font-size: 14px !important;
}

.tblOption { 
    text-align: center;
}

.iconBtn {
    background-color: transparent !important;
    color: black !important;
    width: 50px;
    margin-right: 7px;
}

.iconBtn:hover {
    background-color: rgb(89, 89, 252) !important ;
}

.table tbody {
    background-color: #D9D9D9;
}

.pdfTblData {
    text-align: center;
}